@font-face { font-family: Herculanum; src: url('Herculanum.ttf'); }

.butPic {
    width: 100px;
    height: 100px;
}
body {
    background-color: #000;
    color: #fff;
    font-family: Herculanum;
}
.allButtons {
    margin: 230px auto;
    /*text-align: center;
    display: inline;
    float: right;*/
}
.btn {
    display: inline;
    padding: 40px;

}

.arrow {
    max-width: 500px;
    max-width: 500px;
    display: inline;
    float: left;
}
.mainHead {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 50px;
}
.insideArrow {
    display: inline;
    text-align: center;
    position: absolute;
    top: 500px;
    left: 117px;
    font-size: 25px;
}

.nums {
    display: inline;
}
